
.heading{
    width:100%;
    text-align: left;
}
.heading h3{
    display:inline;
}
.heading button{
    float:right;
    border:1px solid white;
}
#start, #status, #restart{
    font-size:18px;
}
p{
    text-align: left;
}
canvas{
    border:2px solid white;
    border-radius:10px;
}
h4{
    width:100%;
    background-color:yellow;
    line-height:2;
    margin:0px;
    text-align:center;
    font-weight: bold;
    position:fixed;
    bottom:0px;
    
}
p{
    margin-left:3px;
}